# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/familyCookBook-frontEnd/dist
/familyCookBook-frontEnd/tmp
/familyCookBook-frontEnd/out-tsc
# Only exists if Bazel was run
/familyCookBook-frontEnd/bazel-out

# dependencies
/familyCookBook-frontEnd/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/familyCookBook-frontEnd/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/familyCookBook-frontEnd/.sass-cache
/familyCookBook-frontEnd/connect.lock
/familyCookBook-frontEnd/coverage
/familyCookBook-frontEnd/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/familyCookBook-frontEnd/typings

# System Files
.DS_Store
Thumbs.db
