
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('http://www.clker.com/cliparts/v/P/y/9/y/R/rice-bowl-black-and-white.svg');
    background-size: cover;
  }
